.panel-left{
    background-image: url('src/assets/Cloud-background.png');
    height: 100vh;
    background-size: auto;
    opacity: 0.2;
}
#main{
    position: relative;
}
#weather-today{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#form-search{
    /*transition:all 0.5s ease;*/
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1e213b;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
}

.search input:focus {
    box-shadow: none;
    border: none;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
    color: #424775;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
}
