<div id="main">
    <div class="panel-left"></div>
    <div id="weather-today">
        <div class="row">
            <div class="col-5">
                <button class="btn btn-secondary btn-lg  mt-3 p-2" type="button" (click)="openSideBar()">Search for places</button>
            </div>
            <div class="col offset-5">
                <button class="btn btn-secondary btn-lg mt-3 p-2" type="button"><i class="fa  fa-2x fa-compass" aria-hidden="true"></i></button>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col text-center" style="margin-top: 20%">
                <img alt="" class="col" src="assets/lc.png">
            </div>
        </div>
        <div class="row">
            <div class="col text-center " style="margin-top: 15%">
                <span class="fw-bold" style="font-size: 5em">20</span> <span class="fw-light fs-1"> °C</span>
            </div>
        </div>

        <div class="row">
            <div class="col text-center " style="margin-top: 10%">
                <h3>Shower</h3>
            </div>
        </div>

        <div class="row">
            <div class="col text-center" style="margin-top: 10%">
                <p>Today . Fri 5, june</p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center" style="margin-top: 10%">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Dakar</p>
            </div>
        </div>
    </div>

    <div id="form-search" *ngIf="isSideBarOpen">
        <div class="row justify-content-center">
            <button class="btn btn-default col-1 offset-10 fw-bolder fs-3" (click)="closeSideBar()">X</button>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center" style="margin-top: 5%">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input class="form-control" placeholder="City" type="text">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

